*{
   box-sizing: border-box;
}

h1{
  background: blue;
  width: 500px;
  color: white;
  height: 100px;
}

#titulo, .missao, .introducao{
 font-family: Arial;
 background: red;
 width: 500px;
 height: 100px;
}


.introducao{
 
  color: white;
  border: 50px solid yellow;
  padding: 40px;
}


.missao{
  
  color: white;
  border: 20px solid blue;
  padding: px;

}
